body {
  margin: 0; /* Usuwa domyślne marginesy przeglądarki */
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#f4f0ff, #dacdff);
  background-attachment: fixed; /* Opcjonalnie: tło nie "ucieka" przy przewijaniu czatu */
}
